# Temporary files when a file is opened with VIM
*.swo
*.swp

# Temporary files for mac
.DS_Store

# VS code files and folders
.vscode
__debug_bin

# ignore if any diff present in the repo
*.diff

# we are designating .bk extension for backup files
# ignore the same
*.bk
